@import "./variables";

/* Alternative colors */
$color1 : #ec9954; 
/* Header */
.header-top{
	 .logo-wrapper .logo{
		color: $color1;
	}
}
/* menu */
.menu-icon .bars .bar1, 
.menu-icon .bars .bar2, 
.menu-icon .bars .bar3{
	background : $color1;
}
/* main page */
/* home section */
.section-home .content .c-text{
	.header h2{
		color: $color1;
	}
	.home-btns .btn:before{
		color: $color1;
	}
	.home-btns .btn:after{
		background: $color1;
	}
	.h-img .img:hover:before{
		background: transparentize($color1, 0.5)
	}
} 
/* main section */
.section .page-title,
.section .c-header h2,
.feature-list .item-box .item-info h2,
.feature-text-list h3,
.slider-items .item-list li h3, .slider-items .item-list li .title,
.c-itemlist li h3, .c-itemlist li .title,
.c-itemlist li h3.price, .c-itemlist li .price,
.c-itemlist li h3.btn, .c-itemlist li .btn{
	color: $color1;
}
.section-footer .content .f-logo h2,
.section-footer .content h3{
	color: $color1;
}
.section-header .c-header h2{
	color: $white;
	//text-decoration: underline;
}
.feature-list .item-box:before,
.section-contact .contact-footer .social-cont .socials li:after,
.slider-items .swiper-pagination-bullet:hover, 
.slider-items .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: $color1;
}
.section-footer .content .contact-registration,
.c-itemlist li .title:after,
.slider-items .swiper-pagination-bullet:hover:before, 
.slider-items .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
	border-color: $color1;
}
a,
a:hover,
a:focus{
	color: $color1;
}
/* footer */
.s-footer a{
	color: $color1;
	.icon:after{
		border-color: $color1;
	}
	.icon:before{
		background: $color1;
	}
}
/* Buttons */
.normal-btn .icon{
	background: $color1;
}
.section.section-white .normal-btn{
	color: $color1;	
}
.normal-btn:active, 
.normal-btn:focus, 
.normal-btn:hover{
	color: $color1;
	.icon:before{
		background: $color1;
	}
	.icon:after{
		border-color: $color1;
	}
}
.magic-btn,
.magic-btn:hover{
	color: $color1;
}
/* Nav dots */
#fp-nav ul li a span.title{
	color: $color1;
}
body.left-light #fp-nav ul li a.active span, 
body.left-light #fp-nav ul li a.active:hover span,
#fp-nav ul li a.active span, 
#fp-nav ul li a.active:hover span{
	background: $color1;
}


/* Alternative Fonts */
.page-menu .menu-wrapper li a{
	font-family: $geo;
	@media (min-width:601px){
		font-size: 16px;
	}
}
.section-home .content .c-text .header h2,
.section .c-header h2,
.section .page-title,
.feature-list .item-box .item-info h2,
.feature-text-list h3,
.slider-items .item-list li h3, 
.slider-items .item-list li .title,
.c-itemlist li h3,
.c-itemlist li .title{
	font-family: $geo;
}
.section .c-header h2{
	font-weight: bold;
}
.section-home .content .c-text .header h2{
	font-weight: bold;
}
.section .page-title{
	font-weight: bold;
	font-size: 48px;
}