@import "../mixins";
@import "../variables";
// 5. Page cover 
.page-cover {
	width: 100%;
	position: fixed;
	height: 120%;
	height: 200vw;
	z-index: 0;
	overflow: hidden;
	@media(min-width: 601px){
		height: 110vh;
	}
	 .cover-bg {
	/*  Page cover background image,color */
		background: url(../img/bg-default.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		//background-attachment: fixed;
		z-index: -1;
		//overflow: hidden;
	}
	
	.cover-bg.bg-color {
	/* Page cover  background mask */
		background-image: none;
		z-index: -1;
	}
	.cover-bg.bg-gradient ,
	.cover-bg-mask.bg-gradient {
		background-image: none;
		//background: linear-gradient(to top, red, blue);
	}
	.cover-bg.cover-bg-mask {
		background: rgba(0, 0, 0, 0.12);
		background-repeat: no-repeat;
		background-size: cover;
		//background-attachment: fixed;
		z-index: 0;
		transition: 2s;
	}

	.bg-blur-1{
		filter: blur(1px);
	}
	@for $i from 1 through 10 {
		.bg-blur-#{$i}{
			filter: blur($i*1px);
		}
	}
	.vegas-timer {
		/* background slide */
		display: none;
	}
	
	#particles-js {
		/*  particles.js container */
		width: 100%;
		height: 100%;
		background-color: #b61924;
		background-image: url('');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	.video-container {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.video-container video {
		height: 724px;
		width: 1287px;
		margin-top: -42px;
		margin-left: 0px;
	}

	.video-container iframe {
		width: 120%;
		height: 120%;
		margin-left: -10%;
		margin-top: -2%;
	}

}
.main-page-bg{
	transition: 1.2s;
	transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
}
/* particles fixes  */
.section,
.section-main {
//	pointer-events: none;
}
.section .content *,
.section .p-footer *,
.section .s-fixed-content * {
	//pointer-events: visible;
}

.show-for-medium-up {
	display: none;
}
// ipad and tablet
@media(min-width: 602px){
	.show-for-medium-up {
		display: block;
	}
}

