@import "../mixins";
@import "../variables";

.header-top{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
//	height: auto;
	height: 0;
	z-index: 20;
	.logo-wrapper{
		position: relative;
		float: left;
		margin: 24px;
		margin-left: 16px;
		transition: 0.3s;
		@media(min-width: 601px){
			margin-left: 48px;
		}
		.logo{
			font-family: $serif;
			font-weight: normal;
//			text-transform: uppercase;
			font-size: 16px;
			color: $color1;
			transition: 0.3s;
			text-align: center;
			.title{
				padding-top: 8px;
				letter-spacing: 0px;
				display: block;
				vertical-align: middle;
				transition: 0.3s;
			}
			img{
				height: 48px;
				width: auto;
				margin: 0px;
			}	
			.logo-images{
				display: block;
				.light-logo{
					display: inline-block;
				}
				.dark-logo{
					display: none;
				}
			}
		}
	}
	
}

/*Show or hide logo */
.fp-responsive:not(.fp-viewing-home){
	.header-top{
		.logo-wrapper{
			opacity: 0;
			visibility: hidden;
			@media(min-width: 601px){
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.fp-responsive.fp-viewing-home{
	.header-top{
		.logo-wrapper{
			opacity: 1;
			visibility: visible;
			@media(min-width: 601px){
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
