@import "../mixins";
@import "../variables";

/* 2.3.0 home section / .section-home */
.section-home{
	$pos : -8px;
	min-height: 600px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.content{
		max-width: 960px;
		position: relative;
		margin: auto;
		padding: 0 16px;
		@media(min-width: 601px){
			padding: 0;
		}
		.c-text{
			position: relative;
			z-index: 1;
			text-align: center;
			width: 100%;
			min-height: 320px;
			margin: 0 auto;
			padding: 16px 0;
			@media(min-width: 601px){
				display: flex;
				align-items: center;
				justify-content: center;
				
				width: 420px;
				min-height: 420px;
				margin: 0 auto;
				padding: 24px;
			}
			&:before{
				position: absolute;
				top: 0;
				left: 0px;
				right: 0px;
				bottom: 0;
				content: "";
				background:transparentize($black,0.7);
				border-radius: 8px;
				border: 2px solid $color1;
				@media(min-width: 601px){
					border-radius: 400px;
					border: none;
				}
			}
			.h-img{
				@include clearfix;
				display: none;
				@media(min-width: 601px){
					display: block;
				}
				.img{
					$img-height : 200px;
					width: 50%;
					height: 120px;
					border-radius: 0;
					background: $black;
					overflow: hidden;
					position: relative;
					@media(min-width: 601px){
						width: $img-height;
						height: $img-height;
						border-radius: $img-height;
						text-align: center;
						background: $black;
						overflow: hidden;
						color: $black;
						line-height: 1;
						font-size: 24px;
						position: absolute;
						left: -$img-height + 40px;
						top: 50%;
						margin-top: -$img-height/2;
					}
					&.i-left{
						float: left;
					}
					&.i-right{
						float: right;
						@media(min-width: 601px){
							right: -$img-height + 40px;
							left: auto;
						}
					}
					img{
						height: 100%;
						width: auto;
					}
					
					&:before{
						position: absolute;
						z-index: 1;
						content: "";
						transform: rotate(0deg);
						top: 0px;
						left: 0px;
						bottom: 0px;
						right: 0px;
						border-radius: $img-height;
						transition: 0.3s;
					}
					&:hover{
						&:before{
							background: transparentize($color1,0.5);
						}
					}
				}
			}
			.title-desc{
				position: relative;
				overflow: hidden;
				padding-bottom: 0px;
			}
			.c-logo{
				height: 100%;
				text-align: center;
				img{
					height: 64px;
					width: auto;
					display: inline-block;
				}
			}
			.header{
				padding: 0 24px;
				h2{
					font-family: $serif;
					color: $color1;
					font-size: 2em;
					margin-bottom: 0px;
				}
				h3{
					font-family: $sans;
					color: $color1;
					font-size: $text-size;
					font-weight: 300;
				}
			}
			.desc{
				padding: 8px 24px;
				p{
					color: $white;
					font-weight: 300;
					font-family: $sans;
					font-size: $text-size;
					margin: 0;
				}
			}
			.home-btns{
				padding-top: 16px;
				overflow: hidden;
				@media(min-width: 801px){
					margin-bottom: -40px;
				}
				.btn{
					@include simple-button($white, $color1, "\f215");
					display: inline-block;  
					&:before{
						letter-spacing: -2px;
					}
				}
			}
			.c-clock{
				position: relative;
				overflow: hidden;
				.clock-wrapper{
					margin: auto;
					padding-top: 8px;
					$tile_width: 80px;
					.tile{
						width: $tile_width;
						display: inline-block;
						.hours,
						.days,
						.minutes,
						.seconds{
							font-family: $sans;
							font-size: 24px;
							display: block;
							text-align: center;
							color: $black;
						}
						.txt{
							display: block;
							text-align: center;
							font-family: $sans;
							text-transform: lowercase;
							font-size: 14px;
							position: relative;
							// color: $color1;
							color: $black;
							&:after{
								position: absolute;
								content: "";
								background: #ffffff;
								background: $color1;
								height: 32px;
								width: 1px;
								border-radius: 8px;
								position: absolute;
								right: -4px;
								top: -22px;
							}
						}
						&:last-child{
							.txt{
								&:after{
									display: none;
								}
							}
						}
					}
				}
			}
		}
		
		.c-text.bg-white{
			&:before{
				background: $white;
			}
			.header{
			}
			.desc{
				p{
					color: $color2;
					font-weight: normal;
				}
			}
			.home-btns{
				.btn{
					.txt{
						color: $color2;
						font-weight: normal;
					}
					&:hover:before{
						border-color: $color2;
					}
				}
			}
		}
		@media(min-width: 801px){
		&.anim{
			.c-text{
				&:before{
					transform: scale(1.5);
					transition: 0.6s;
					opacity: 0;
				}
				&:after{
					top: -100px;
					bottom: -100px;
					transition: 0.6s;
					opacity: 0;
				}
				.h-img{
					.img{
						transition: 0.6s;
						opacity: 0;
						transition-delay: 0s;
						//filter: blur(15px);
						transform: scale(1.5);
						transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
					}
				}
				.title-desc{
					.t-wrapper{
						.home-logo,
						.header,
						.desc{
							transition: 0.6s;
							opacity: 0;
							transition-delay: 0s;
							transform: translateY(25%) ;
							transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
						}
					}
				}
				.home-btns{
					transition: 0.6s;
					opacity: 0;
					transition-delay: 0s;
					transform: translateY(25%) ;
					transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
				}
				.c-clock{
					.btn,
					.clock-wrapper{
						transition: 0.3s;
						opacity: 0;
						transition-delay: 0s;
						transform: translateY(-100%);
						transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
					}
				}
			}
		}
		}
	}
	&.active{
		&.anim{
			.c-text{
				&:before{
					transform: none;
					opacity: 1;
				}
				&:after{
					top: $pos;
					bottom: $pos;
					opacity: 1;
				}
				$begin : 0.6s;
				.h-img{
					.img{
						transition: 0.9s;
						transition-delay: 1.2s;
						opacity: 1;
						transform: none;
						filter: none;
					}
				}
				.title-desc{
					.t-wrapper{
						.home-logo,
						.header,
						.desc{
						transition: 0.9s;
						transition-delay: 0.0s;
						opacity: 1;
						transform: none;
						}
						.home-logo{
							transition-delay: 0.0s;
						}
						.header{
							transition-delay: 0.3s;
						}
						.desc{
							transition-delay: 0.6s;
						}
					}
				}
				.home-btns{
					transition: 0.9s;
					transition-delay: 0.9s;
					opacity: 1;
					transform: none;
				}
				.c-clock{
					.btn,
					.clock-wrapper{
						transition-duration: 0.6s;
						transition-timing-function: cubic-bezier(.13, .53, .21, .97);
						transition-delay: $begin + 0s;
						opacity: 1;
						transform: none;
					}
				}
			}
		}
	}
}