@import "../mixins";
@import "../variables";

/* contact section / .section-contact */
.section-contact{
	.content{
		@media(min-width:601px){
			padding-bottom: 40px;
		}
		.c-left{
			
		}
		
		.c-right{
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
		}
		
		// form
		.c-form{
			width: 100%;
			.card-wrapper{
				
				&:after{
					visibility: hidden;
				}
			}
			.c-content{
				padding: 32px;
			}
			.form{
				.form-header{
					@include clearfix;
					h3{
						float: left;
						width: 70%;
						padding-top: 8px;
						position: relative;
						text-align: left;
						font-family: $serif;
						font-weight: bold;
						color: $light-gray;
						margin-bottom: 16px;
					}
					.btns{
						width: 30%;
						float: right;
						margin-top: 12px;
					}
					button{
						float: right;
					}
				}
				.fields{
					position: relative;
					label{
						position: absolute;
						top: 7px;
						left:0;
						width: 64px;
						font-family: $sans;
						font-size: $text-size;
						display: block;
						float: left;
						color: $color1;
					}
					label.error{
						position: absolute;
						font-family: $sans;
						color: #ce2c52;
						font-size: 12px;
						top: auto;
						bottom: 8px;
						right: 0;
						text-align: right;
						padding-right: 8px;
						width: auto;
					}
					input{
						float: right;
						padding-left: 64px;
						font-family: $sans;
						font-size: $text-size;
						border: none;
						border-bottom: 1px solid $color1;
						box-shadow: none;
						margin-bottom: 0;
						
						color: $white;
						background: transparentize($light-gray, 0.9);
					}
					.input.bottom{
						input{
							border-bottom: none;
						}
					}
					textarea{
						margin-top: 40px;
						font-size: $text-size;
						font-family: $sans;
						color: $black;
//						border: 1px solid $color1;
						border: none;
						background: #eaeaea;
						box-shadow: none;
						margin-bottom: 0;
						height: 100px;
						max-height: 150px;
						color: $white;
						background: transparentize($light-gray, 0.9);
					}
					p{
						font-family: $condensed;
						font-size: 14px;
						color: $gray1;
						position: absolute;
						left: 0;
						bottom: -22px;
						margin: 0;
					}
				}
			}
		
			.form{
				position: relative;
				z-index: 1;
			}
			// map
			.c-map{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				iframe{
					width: 100%;
					height: 100%;
				}
				&:after{
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					content: "";
					background: rgba(0,0,0,0.6);	
				}
			}
		}
	
	}
	
	.contact-footer{
		padding: 0;
//		padding-top: 16px;
//		position: relative;
//		max-width: 1200px;
//		margin: auto;
//		overflow: hidden;
//		&:before{
//			position: absolute;
//			content: "";
//			left: 96px;
//			right: 96px;
//			top: 0;
//			border-top: 1px solid $color1;
//		}
		.reg-form-cont{
			text-align: center;
			h3.title{
				text-align: center;
			}
			.form{
				position: relative;
				display: inline-flex;
				padding: 0 8px;
				flex-direction: row;
				width: 100%;
				max-width: 360px;
				@include clearfix;
				input.input{
					//width: 60%;
					//max-width: 360px;
					background: $white;
					color: $black;
					font-size: $text-size;
					padding: 4px 16px;
					float: left;
					height: 40px;
					margin: 0;
					font-family: $sans;
					box-shadow: none;
					border: none;
					position: relative;
					
					border-bottom: 1px solid $black;
					&:focus,
					&:active{
						border-bottom-color: $color1;
					}
				}
				button{
//					position: absolute;
//					bottom: 0;
//					right: 0;
					float: left;
					display: block;
					
				}
				label.error{
					position: absolute;
					font-family: $sans;
					color: #ce2c52;
					font-size: 12px;
					top: auto;
					bottom: -2em;
					left: 0;
				}
				p{
					text-align: left;
					font-size: 14px;
					font-family: $sans;
				}
			}
		}
		.social-cont{
			margin-top: 32px;
			text-align: center;
			width: 100%;
			h3{
				text-align: inherit;
			}
			.socials{
				display: inline-block;
				li{
					float: left;
					margin-left: 40px;
					position: relative;
					&:first-child{
						margin-left: 0;
					}
					&:after{
						content: "";
						background: $color1;
						transform: rotate(45deg);
						height: 32px;
						width: 1px;
						position: absolute;
						left: -20px;
						bottom: 4px;
					}
					&:first-child:after{
						display: none;
					}
					a{
						display: inline-block;
						height: 32px;
						text-align: center;
						border-radius: 2px;
						color: $black;
						font-size: 14px;
						font-family: $sans;
						text-transform: none;
						&:hover{
							color: $color1;
						}
					}
				}
			}
		}
	}
}

.section-contact{
	.contact-footer.anim{
		.c-wrapper{
			transition-duration: 0.6s;
			transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
			transform: translateY(-100px);
			transition-delay: 0s;
		}
	}
	&.active{
		.contact-footer.anim{
			.c-wrapper{
				transform: none;
				transition-delay: 1s;
			}
		}
	}
}