@import "../mixins";
@import "../variables";


/*  Main Page / .page-main*/
.page-main{  
    position: relative;
	margin-left: 0;
    width: 100%;
    height: 100%;
	z-index: 1;
	
	transition: 2s;
	
	@media (min-width: 801px){
		transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
		transition: 1.2s;
	}
}
/* Section / .section*/

.section-cent{
	width: 100%;   
    position: relative;
    text-align: center;
}

/* Page title / .section .page-title */
.section{
	position: relative;
	.page-title{
		color: $color1;
		font-family: $serif;
		text-align: right;
		display: none;
		@media (min-width: 801px){
			display: block;
			position: fixed;
			z-index: 100;
			left: 76px;
			top: 96px;
			font-size: 60px;
			transform: rotate(90deg) translateX(60px);
			transform-origin: left;
			display: inline-block;
			opacity: 0;
			visibility: hidden;
			transition: 0.6s;
			transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
		}
	}
}
.section.active{
	.page-title{
		@media (min-width: 801px){
			transform: rotate(90deg) translateX(0px);
			opacity: 1;
			visibility: visible;
		}
	}
}

/* section content / .section .content */
.section{
	.content{
		padding: 64px 16px;
		width: 100%;
		margin: auto;
		max-width: 720px;
		&.large{
			max-width: 960px;
		}
		@media (min-width: 801px){
			//padding: 64px 64px;
		}
		&.large{
			max-width: 960px;
		}
	}
	.c-header{
		margin-bottom: 48px;
		h2{
			color: $color1;
			font-size: 3em;
			font-family: $serif;
		}
		h3{
			font-size: 1.2em;
			font-family: $sans;
			font-weight: bold;
		}
		.icon{
			font-size: 2.5em;
			margin-bottom: 0.5em;
    		display: block;
		}
		p{
			font-family: $sans;
		}
	}
	.c-article{
		img{
			margin: 16px auto;
			width: 100%;
		}
		p{
			line-height: 1.6em;
			//font-family: $serif-text; 
			font-family: $sans;
			//font-size: 18px;
		}
	}
	.c-desc{
		h2{
			color: $color1;
			font-size: 3em;
			font-family: $serif;
		}
		h3{
			font-size: 1.2em;
			font-family: $sans;
			font-weight: bold;
		}
		p{
			font-family: $sans;
		}
	}
	.title{
		
	}
	p{
		line-height: 1.6em;
	}
	.iconned-list{
		.item{
			@include clearfix;
			position: relative;
		}
		.icon{
			font-size: 40px;
			margin-bottom: 0.5em;
    		display: inline-block;
			width: 1em;
			position: absolute;
			left: 0;
			top: 0;
		}
		.desc{
			display: inline-block;
			text-align: left;
			padding-left: 64px;
		}
	}
	.featured-img,
	.featured-map{
		width: 100%;
		height: 272px;
		background: $light-gray;
		margin-bottom: 8px;
		iframe{
			width: 100%;
			height: 272px;
		}
	}
	.content{
		$wrapper-margin : 96px;
		.content-item{
			@include clearfix;
			position: relative;
			margin-bottom: 32px;
			@media(min-width: 801px){
				margin-bottom: $wrapper-margin;
			}
		}
		// Content left
		.c-left{
			width: 100%;
			text-align: left;
			@media(min-width: 801px){
				width: 50%;
				float: left;
				padding-right: 16px;
			}
		}
		
		// content right
		.c-right{
			width: 100%;
			position: relative;
			@media(min-width: 801px){
				width: 50%;
				float: right;
			}
		}
		.c-left,
		.c-right{
			.wrapper{
				width: 100%;
				&.fit{
					width: auto;
					max-width: 480px;
					@media(min-width: 801px){
						max-width: 720px;
					}
				}
				max-width: 720px;
			}
		}
	}
	&.section-white{
		background: $white;
		color: $black1;
		p{
			font-weight: normal;
		}
		.normal-btn{
			color: $color1;
		}
		.c-header{
			h2{
				color: $black2;
				//font-weight: bold;
			}
			h3{
				font-weight: bold;
			}
			.icon{
				display: block;
			}
			p{
				font-family: $sans;
			}
		}
		.c-desc{
			h2{
				color: $color1;
			}
			h3{
			}
			p{
			}
		}
		.c-itemlist {
			li .desc p{
				color:	$black1;	
			}
		}
	}
	&.fh-auto{
		height: auto !important;
		@media (min-width: 601px){
			height: auto !important;
		}
		.fp-tableCell{
			height: auto !important;
			@media (min-width: 601px){
				height: auto !important;
			}	
	}
	}
}



// Fullpage.js fix
//.fp-responsive{
//	.fp-auto-height-responsive{
//		.fp-scrollable{
//			height: auto !important;
//		}
//	}
//	
//}

