@import "../mixins";
@import "../variables";

/* about section / .section-about */
.section-about{
	transition-delay: 0s;
	transition: 0.6s;
	transition-timing-function: cubic-bezier(.52, .42, 0, 1.01);
	//background: transparent;
	/*.content{
		.c-left{
			float: left;
			width: 66%;
			padding-right: 64px;
		}
		
		.c-right{
			float: right;
			width: 34%;
		}
	}*/
}
.section-about.active{
	//background: transparentize(#3b2c2c,0.05);
}